$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 980px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    header{
    border-bottom: 1px solid black;

    h1{
        margin: 35px 0 0 0;
        font-size: 18px;
    }

    nav{
        margin: 35px 0 0 0;
    }
    
    nav ul li{
        display: inline-block;
    }
    
    nav ul li a{
        text-transform: uppercase;
        color: tomato;
        letter-spacing: 1px;
        padding: 0px 10px;
    }

    nav ul li a:hover{
        color: tomato;
    }

}

.featuredcookie{

    padding: 0 0 30px 0;

    img{
        margin: 50px 0 0 30px;
    }

    h2{
        margin: 50px 0 0 0;
        padding: 0 0 20px 0;
    }

    p{
        padding: 0 0 20px 0;
    }

    button{
        width: 150px;
        height: 30px;
        background-color: #78a1a3;
        border: 0;

        text-transform: uppercase;
        color: white;
        list-style: 1px;
    }



}

.hproducts{
    border-top: 1px solid black;

    h3{
        font-size: 30px;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        padding: 50px 0 50px 0;
    }




}


footer{
    margin: 30px 0 0 0;
    height: 100px;
    background-color: #78a1a3;




}
}


.productDetails{
    padding: 30px 0 0 0;
}
