<header>
  
  <h1 class="pull-left">The Cookie Store</h1>

  <nav class="pull-right">
   
      <ul>
      <li><a href="#/main.html">Home</a></li>

      <li><a href="#/about">About</a></li>
      <li><a href="#/addProduct">Add A Product</a></li>

      <li><a href="#/products">Products</a></li>

      <li><a href="#/cart">Cart</a></li>
    </ul>
  </nav>

<div class="clear"></div>

</header><!--end header-->




<div class="row">

  <div class="col-md-12">


  <h2>Some about text</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, rerum similique molestiae sapiente earum quia maiores perspiciatis suscipit iusto mollitia. Repellendus, illo ab perspiciatis rerum voluptas pariatur dolor magnam deserunt.</p>
  
</div>
</div><!--end row-->




<footer>    
</footer>


