

<header>
  
  <h1 class="pull-left">The Cookie Store</h1>

  <nav class="pull-right">
    
    <ul>
      <li><a href="#/main.html">About</a></li>

      <li><a href="#">About</a></li>
      <li><a href="#">Products</a></li>

      <li><a href="#">Cart</a></li>
    </ul>

  </nav>

<div class="clear"></div>

</header><!--end header-->






<div class="productDetails">
  
   <div class="row">
    
    <div class="col-md-6">


      <img src="http://placehold.it/300x300" alt="">
      


    </div><!--end col md 6-->

    <div class="col-md-6">
      
      <h2>{{post.name}}</h2>

      <p>{{product.price}}</p>

      <p>{{product.description}}</p>
      <a href="#/{{product._id}}/edit">Edit</a>

      <button class="pull-right">Order Now</button>



    </div><!--end col md 6-->




  </div><!--end row-->




</div><!--end product details-->









<footer></footer>


