

<header>
  
  <h1 class="pull-left">The Cookie Store</h1>

  <nav class="pull-right">
    
  
    <ul>
      <li><a href="#/main.html">Home</a></li>

      <li><a href="#/about">About</a></li>
      <li><a href="#/addProduct">Add A Product</a></li>

      <li><a href="#/products">Products</a></li>

      <li><a href="#/cart">Cart</a></li>
    </ul>

  </nav>

<div class="clear"></div>

</header><!--end header-->






<div class="productDetails">
  
   <div class="row">
    
    <div class="col-md-6">


      <img src="http://placehold.it/300x300" alt="">
      


    </div><!--end col md 6-->

    <div class="col-md-6">
      
    <div cookie-details></div cookie-details>


      



    </div><!--end col md 6-->




  </div><!--end row-->




</div><!--end product details-->









<footer></footer>


