<header>
  
  <h1 class="pull-left">The Cookie Store</h1>

  <nav class="pull-right">
    
    <ul>
       <li><a href="#/main.html">About</a></li>

      <li><a href="#">About</a></li>
      <li><a href="#">Products</a></li>

      <li><a href="#">Cart</a></li>
    </ul>

  </nav>

<div class="clear"></div>

</header><!--end header-->



<div class="row">
	<div class="col-md-12">
  <input type="text" ng-model="product.name">
    <input type="text" ng-model="product.price">

    <textarea name="content" id="" cols="30" rows="10" ng-model="product.description">
    	{{product.description}}
    </textarea>
		<button ng-click="updateProduct()">Update Post</button>
	</div>

</div>






<footer></footer>


