<header>
  
  <h1 class="pull-left">The Cookie Store</h1>

  <nav class="pull-right">

    <ul>
      <li><a href="#/main.html">About</a></li>

      <li><a href="#/about">About</a></li>
      <li><a href="#/addProduct">Add A Product</a></li>

      <li><a href="#/products">Products</a></li>

      <li><a href="#/cart">Cart</a></li>
    </ul>

  </nav>

<div class="clear"></div>

</header><!--end header-->




<div class="row">



<div class="col-md-3" ng-repeat="product in products">
	
		<h2>{{product.name}}</h2>
		<p>{{product.description}}</p>
		<p><a href="#/{{product._id}}">View More</a></p>
</div>

</div><!--end row-->




<footer></footer>


