

<header>
  
  <h1 class="pull-left">The Cookie Store</h1>

  <nav class="pull-right">
    
  
    <ul>
      <li><a href="#/main.html">Home</a></li>

      <li><a href="#/about">About</a></li>
      <li><a href="#/addProduct">Add A Product</a></li>

      <li><a href="#/products">Products</a></li>

      <li><a href="#/shoppingcart">Cart</a></li>
    </ul>

  </nav>

<div class="clear"></div>

</header><!--end header-->

<div ng-controller="CartCtrl">

<div class="shoppingcart">

<div class="row">

  <div class="col-md-12">
  
<ul ng-repeat="product in cartItems">
  
    <li>{{product.name}} {{product.price | currency}}  each</li>




<a href="" ng-click="deleteCartProduct()">Delete</a>




</ul><!--end col-->

</div>

</div><!--end row-->


</div><!--end shopping cart-->

</div><!--end wrapper-->

  <h3>Total: {{total}}</h3>









<footer></footer>


